@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap");
body, html {
  padding: 0;
  margin: 0;
  background-color: #373739;
  height: 100%;
  font-family: 'Raleway', sans-serif;
}

.changecolor1 {
  color: #373739;
}

.navbar {
  height: 150px !important;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid #E6E5CD;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  background-color: #373739;
  background-color: rgba(55, 55, 57, 0.7);
  margin: 0;
}

.fa-chevron-right {
  position: absolute;
  top: 65px;
}

.color {
  background-color: #67C3B5 !important;
  color: white !important;
  opacity: none !important;
}

.navbar-brand {
  padding: 0 !important;
}

.navbar-toggler {
  color: #67C3B5;
}

.changecolor {
  background-color: whitesmoke !important;
  opacity: 1;
}

.navbar-collapse {
  background-color: whitesmoke;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  text-align: center;
  opacity: none !important;
  color: #67C3B5;
  border-radius: 5%;
  border: 4px solid #67C3B5;
}

.nav-item {
  padding: 12px;
  font-size: 30px;
}

.nav-item a {
  color: #67C3B5;
}

.navbar-collapse {
  position: absolute;
  top: 184px;
  left: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.navbar-collapse.collapsing {
  height: auto;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  left: -100%;
}

.navbar-collapse.show {
  left: 0;
  -webkit-transition: left 0.3s ease-in;
  transition: left 0.3s ease-in;
}

a {
  color: #E6E5CD;
}

.blogContainer {
  padding-top: 40px;
}

.logoNav {
  height: 150px;
  width: 200px;
  text-align: center;
  padding: 0;
}

.navbar-brand {
  margin-left: -36px;
}

.card {
  width: 300px;
  border: 4px solid #67C3B5;
  background-color: whitesmoke;
  color: #373739;
  border-radius: 1%;
}

.trista {
  width: 297px !important;
  height: 250px !important;
  border-radius: 1%;
}

.card__body {
  padding: 12px;
}

.btn {
  border: 1px solid #67C3B5;
  padding: 5px;
  width: 70%;
  background-color: #67C3B5;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn:hover {
  width: 90%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: white;
}

.btn:focus {
  width: 90%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: white;
}

.scrollDown {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  opacity: 0.6;
}

.masthead {
  height: 700px;
  background: url("./img/burj.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  padding-top: 30px;
  font-family: 'Comfortaa', cursive;
  padding-top: 10rem;
  background-attachment: fixed;
}

.masthead p {
  color: whitesmoke;
}

.container2 {
  padding-left: 30px;
  padding-right: 30px;
}

.btn1 {
  border: 1px solid #67C3B5;
  padding: 7px;
  width: 70%;
  background-color: transparent;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.btn1:focus {
  border: 1px solid #67C3B5;
  padding: 7px;
  width: 100%;
  background-color: #67C3B5;
  color: white;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item3 {
  width: 300px;
  height: 175px;
  margin: 15px;
  position: relative;
  text-align: center;
  color: white;
}

.img-fluid {
  opacity: 0.5;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 22px;
  opacity: 0.7;
}

.item1 {
  opacity: 0.8;
}

hr {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(91, 141, 140, 0.75)), to(rgba(91, 141, 140, 0)));
  background-image: linear-gradient(to right, rgba(91, 141, 140, 0.75), rgba(91, 141, 140, 0));
  height: 1px;
}

.card__body {
  padding: 1.5rem !important;
}

.card__actions {
  padding: 1rem;
  margin-top: 0;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item {
  margin: 15px;
}

.footer-section {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 35px;
}

.footer-section ul {
  -webkit-text-emphasis: none;
          text-emphasis: none;
}

.item1 i {
  padding: 7px;
  font-size: 30px;
  color: #67C3B5;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  color: white;
  opacity: 0.5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0;
}

.masthead1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Comfortaa', cursive;
  padding-top: 9.5rem;
  background-attachment: fixed;
}

.img-fluid {
  width: 100% !important;
  padding: 0;
  margin: 0;
}

.articleText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  opacity: 0.8;
  padding: 35px;
}

.item55 i {
  padding: 7px;
  font-size: 30px;
  color: #67C3B5;
}

.prevNext {
  color: white;
  background: #67C3B5;
  padding: 9px;
  border: 1px solid #67C3B5;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.prevNext:focus {
  color: #67C3B5;
  background: white;
  padding: 9px;
  border: 1px solid #67C3B5;
}

.item555 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.item666 {
  padding-top: 20px;
}

.container33 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item33 {
  width: 300px;
  height: 175px;
  margin: 15px;
  position: relative;
  text-align: center;
  color: white;
}

.item33 .img-fluid {
  opacity: 0.7 !important;
}

.item33 .img1 {
  height: 180px;
}

.center1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */